body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Open {
    background-color: #9be792;
}

.boxItem {
    transition: background-color 200ms linear;
    text-align: center;
    min-height: 10em;
    cursor: pointer;
}

.serverItem{
    padding-top: 2em;
}

.projectItem{
    padding-top: 4em;
}

.addItem{
    padding-top: 4em;
}

.boxItem:hover {
    background-color: #ff5d47;
}

#limitProgress {
    background-color: white;
    border: #282c34 1px solid;
    text-align: center;
}

#limitBar {
    height: 30px;
    background-color: dodgerblue;
}

.osItem{
    padding-top: 2em;
}


.snapshotItem{
    padding-top: 2em;
}

.menuItem{
    text-align: right;
}

.active{
    background-color: #ff3d32 !important;
}

.ltr{
    direction:ltr;
}

.iconItem{
    min-width: 30px !important;
}

.swal-modal {
    direction: rtl;
}

.swal-text{
    text-align: right;
}