body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.itemList{
  transition: 0.2s;
}
.itemList:hover{
  background-color: #61dafb;
}
.Open{
  background-color: #aff6b9;
}
.Closed{
  background-color: #ff3845;
}
.titleTicket{
  font-size: 19pt;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}





